body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'IBM Plex', "Microsoft Yahei";
  font-weight: 400;
  font-size: 18px;
}


/* header */
header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.header-title{
  color: #FFF;
  font-size: 32px;
}
.header-title:hover{
  text-decoration: none
}
.header-link-container{
  position: absolute;
  right: 20px;
}
.header-link{
  color: #FFF;
  padding: 3px 10px;
  border: 1.5px solid;
  border-color: #FFF;
  font-size: 18px !important;
}

/* main */
main{
  width: 600px;
  min-width: 60%;
  max-width: 80%;
  margin: auto;
  padding: 15px;
}

/* hyperlink */
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}

/* description */
.description p{
  margin: 0;
}

/* module */
.module-title{
  font-size: 28px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 5px;
}
.module-box:nth-child(even){
  background-color: #f3f3f3;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.module-box:last-child{
  border-bottom: 1px solid #cccccc;
}
.module-box{
  padding-top: 6px;
  padding-bottom: 6px;
}
.module-hyperlink{
  font-size: 20px;
  display: inline-block;
  width: 100%;
}
.module-description{
  font-size: 16px;
  color: #888888;
}
